<label id="value_lable_1">{{ ocr_text }}<br>
</label>
<label id="value_lable">
    {% for entity in name_entities %}
        {{ entity }}<br>
    {% endfor %}
</label>
<label id="value_lable">
    {% for value in amout_values %}
        {{ value }}<br>
    {% endfor %}
</label>