
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function(){
              $('input:file').change(
                  function(){
                      if ($(this).val()) {
                          $('input:submit').attr('disabled',false); 
                      } 
                  }
              );
          });

        </script>
    </head>
    <body>
      <div style="background-color: #ffffff; color: #ffffff; border-radius: 25px;">
        <h1 style="background-color: #555555; color: #ffffff; text-align: left;">&nbsp;Image and Text Processing</h1>
        <div style="background-color: #ffffff; color: #ffffff;"><span style="color: #000000;">Recognize text from PDF or Image files (.png, .jpg), identify name entities, amount/date values and language of the text.<br /> </span></div>
        <div style="background-color: #ffffff; color: #555555;">
            <p>&nbsp;</p>
            <form enctype="multipart/form-data" method="post">
                <input name="file" type="file" />
                <input type="submit" value="Upload" disabled />
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
            {% endwith %}

            <h2 style="background-color: #555555;"><span style="color: #ffffff;">&nbsp;OCR Text</span>:</h2>
            <ol style="list-style-type: none;">
                <li style="clear: both;"><span style="color: #000000;"><label id="value_lable_1">{{ ocr_text }}</label></span></li>
            </ol>
            <h2 style="background-color: #555555;"><span style="color: #ffffff;">&nbsp;Name Entities:</span></h2>
            <ol style="list-style-type: none;">
                <li style="clear: both;"><span style="color: #000000;"><label id="value_lable"> {% for entity in name_entities %} {{ entity }}<br /> {% endfor %} </label></span></li>
            </ol>
            <h2 style="background-color: #555555;"><span style="color: #ffffff;">&nbsp;Amout values:</span></h2>
            <ol style="list-style-type: none;">
                <li style="clear: both;"><span style="color: #000000;"><label id="value_lable"> {% for value in amout_values %} {{ value }}<br /> {% endfor %} </label></span></li>
            </ol>
            <h2 style="background-color: #555555;"><span style="color: #ffffff;">&nbsp;Date values:</span></h2>
            <ol style="list-style-type: none;">
                <li style="clear: both;"><span style="color: #000000;"><label id="value_lable"> {% for value in date_values %} {{ value }}<br /> {% endfor %} </label></span></li>
            </ol>            
            <h2 style="background-color: #555555;"><span style="color: #ffffff;">&nbsp;Language:</span></h2>
            <ol style="list-style: none; font-size: 14px; line-height: 32px;">
                <li><span style="color: #000000;"><label id="value_lable_1">{{ lang }}<br /> </label></span></li>
                <li style="clear: both;"></li>
            </ol>
            <p><span style="color: #000000;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
            <p>&nbsp;</p>
        </div>
      </div>
      
    </body>
    </html>





